
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{margin: 0;padding: 0;}
ol,ul,li{list-style: none;}
a{text-decoration: none;color: #678532;;}
img{border: none;width: 100%;}
i{font-style: normal;display: inline-block;}
.clearfloat{zoom: 1;}
.clearfloat:after{display: block;clear: both;content: "";visibility: hidden;height: 0;}

@font-face{font-family: 'SourceHanSansCN-Light';src:url('../font/SourceHanSansCN-Light.otf');}
@font-face{font-family: '方正兰亭黑-GBK';src:url('../font/方正兰亭黑-GBK.TTF');}
@font-face{font-family: '方正兰亭特黑-GBK';src:url('../font/方正兰亭特黑-GBK.TTF');}
@font-face{font-family: 'PFDinTextCompPro-ThinItal';src:url('../font/PFDinTextCompPro-ThinItal.ttf');}
@font-face{font-family: '方正清刻本悦宋简体';src:url('../font/方正清刻本悦宋简体.TTF');}